.color{
    background-color: darkorange;
    height: 100px;
}
.verde{
    background-color: green;
}
.azul{
    background-color: blue;
}
.rojo{
    background-color: red;
}
.amarillo{
    background-color: yellow;
}
.rosa{
    background-color: pink;
}
.violeta{
    background-color: blueviolet;
}
img{
    height: 800px;
    width: 800px;
}